slides > slide.title-slide{
  
  background-image: url("https://raw.githubusercontent.com/shubhadasuresh/MTA-Subway/master/gis.jpg");
  background-repeat: no-repeat;
    background-size: 900px 350px;
  
}